.below_footer {
    width: 100%;
    min-height: 15px;
}
.bg_blue {
    background-color: blue;
}
.bg_gray {
    background-color: #bbbbbb;
}
.bg_white {
    background-color: white;
}
.bg_whiteish {
    background-color: #D1D1D1;
}
.border_bottom_radius {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.border_top_radius {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.display_none {
    display: none;
}
.header {
    width: 100%;
    min-height: 277px;
    background-color: black;
    margin: auto;
    align-content: center;
    z-index: -2;
}
.index_main {
    width: 100%;
    margin: auto;
    align-content: center;
}
.ssjr_top {
    width: 100%;
    align-content: center;
    text-align: center;
    z-index: -1;
}
.the_background {
    background: linear-gradient(to bottom, #034301, limegreen);
}
.ticker_info {

}
.ticker_nav {
    width: 100%;
    text-align: center;
    /*background: rgba(0,0,0,1);*/
}
.ticker_nav_cell {
    display: inline-block;
    margin: 10px 15px;
}
.text_align_center {
    text-align: center;
}