.bg_blue {
    background-color: blue;
}
.bg_whiteish {
    background-color: #D1D1D1;
}
.header {
    width: 100%;
    min-height: 277px;
    background-color: black;
    margin: auto;
    align-content: center;
    z-index: -2;
}
.index_main {
    width: 100%;
    background-color: aquamarine;
    margin: auto;
    align-content: center;
}
.ssjr_top {
    width: 100%;
    align-content: center;
    text-align: center;
    z-index: -1;
}
.ticker_nav {
    width: 100%;
    text-align: center;
    background-color: coral;
}
.ticker_nav_cell {
    display: inline-block;
    margin: 10px 15px;
}
.text_align_center {
    text-align: center;
}