{% extends "base.html" %}
{% block title %}<title>Slam Stonks Jr.</title>{% endblock %}
{% block main %}
    <div class="ticker_nav">
        {% for item in top10_array %}
            <div class="ticker_nav_cell">
                <h3><a href="javascript:">{{ item }}</a></h3>
            </div>
        {% endfor %}
    </div>
    <div class="ticker_nav">
        <div class="ticker_nav_cell">
                <h3><a href="javascript:">COMPARE</a></h3>
            </div>
    </div>
    <div class="ticker_info">
        <div class="container">
            <div class="row">
                <div class="twelve columns text_align_center bg_blue">
                    ticker_info
                    <p>
                    ticker_info
                    <p>
                    ticker_info
                </div>
            </div>
        </div>
    </div>
    <div class="index_main">
        <div class="container bg_whiteish">
            <div class="row">
                <div class="twelve columns" style="min-height: 1000px">
                    <canvas id="pnorm"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/pnorm.js') }}" defer></script>
{% endblock %}